# JetBrains IDE
.idea/
*.iml

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Optional: ignore XML configs
*.xml

# Nums
nums/
/nums.idea/

.idea/
*.iml
/nums/.idea/.gitignore
/nums/.idea/misc.xml
/nums/.idea/modules.xml
/nums/.idea/nums.iml
/nums/.idea/inspectionProfiles/profiles_settings.xml
/nums/.idea/inspectionProfiles/Project_Default.xml
/nums/.idea/vcs.xml
/nums/.idea/workspace.xml